<!-- 
创建时间：2024-2-29
创建者：曾颂杰
修改者：陈昱冰,张齐豫
功能：图片上传、识别、显示的前端实现   
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>野趣识别</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.8.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.4.10/css/AdminLTE.min.css">
    <style>
        .btn1 {
            margin-left: 25%;
        }
    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">
                <h2>野趣识别</h2>
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->

            <ul class="layui-nav layui-layout-right layui-nav layui-bg-green">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        {{ user }}
                    </a>
                </li>
                <li class="layui-nav-item"><a href="/logout/">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">功能区域</a>
                        <dl class="layui-nav-child" id="func">
                            <dd><a href="javascript:;">物种识别</a></dd>
                            <dd><a href="javascript:;">动物图鉴</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">个人空间</a>
                        <dl class="layui-nav-child" id="user">
                            <dd><a href="javascript:;">个人信息</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body" style="overflow:hidden">
            <!-- 内容主体区域 -->
            {% load static %}
            <div class="list" style="display: block">
                <img src="{% static 'images/welcome.jpg' %}" style="max-width:100%;overflow:hidden;margin-top: -65px;">
            </div>
            <div class="list" style="padding: 15px; display: block">
                <div class="layui-row">
                    <div class="layui-col-md-16">
                        <div class="layui-panel">
                            <form method="POST" action="/img_proc/" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" id="file1"
                                    class="filepath layui-btn layui-btn-primary layui-btn-radius" name="img"
                                    onchange="changepic1(this)" accept="image/png, image/jpeg, image/jpg">
                                <img src="{{ image_url }}" id="show1" width="200">
                                <button type="submit" class="layui-btn btn1">
                                    <i class="layui-icon">&#xe67c;识别图片</i>
                                </button>
                            </form>
                        </div>

                        {% if data %}
                        <div>
                            <table class="layui-table">
                                <colgroup>
                                    <col width="50">
                                    <col width="100">
                                    <col width="100">
                                    <col width="500">
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>可能物种</th>
                                        <th>可能性</th>
                                        <th>百科信息</th>
                                    </tr>
                                </thead>
                                {% for iten in data %}
                                <tbody id="tableData">
                                    <!-- 数据将通过JavaScript填充 -->
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="list" style="padding: 15px; display: block">
                <div class="layui-row">
                    <div class="layui-col-md-16">
                        <div class="layui-bg-gray" style="padding: 30px;">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">卡片面板</div>
                                        <div class="layui-card-body">
                                            卡片式面板面板通常用于非白色背景色的主体内<br>
                                            从而映衬出边框投影
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">卡片面板</div>
                                        <div class="layui-card-body">
                                            结合 layui 的栅格系统<br>
                                            轻松实现响应式布局
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list" style="padding: 15px; display: block">
                <div class="message">
                    <h3 style="display: inline-block">欢迎</h3>
                    {% if uname %}
                    <h3 style="display: inline-block; color: palevioletred">{{ uname }}</h3>
                    {% endif %}
                    <h3 style="display: inline-block">用户</h3><br>
                    <h3 style="display: inline-block">完善个人资料</h3>
                </div>
                <div id="darkbannerwrap"></div>
                <form method="POST" action="/baseinfo/" enctype="multipart/form-data" class="layui-form">
                    {% csrf_token %}
                    <hr class="hr15">
                    请输入用户签名：<input type="text" name="sign" lay-verify="required" class="layui-input"
                        style="width: 300px;">
                    <hr class="hr15">
                    请输入用户邮箱：<input type="email" name="email" lay-verify="required" class="layui-input"
                        style="width: 300px;">
                    <button type="submit" class="layui-btn btn1" id="test1" style="margin-left: 1px;margin-top: 50px;">
                        <i class="layui-icon">&#xe67c;提交信息</i>
                    </button>
                </form>
                <hr class="hr15">
                <a href="/user_init/" class="layui-btn">返回主页</a>
            </div>
        </div>


        <div class="layui-footer">
            <!-- 底部固定区域 -->
            欢迎来到野趣识别平台！
        </div>


        <script type="text/javascript">
            // 假设 data 是从后端传递到模板的 JSON 数据
            let jsonData = {{ data| safe }};  // 使用 Django 模板标签将 data 变量传递到 JS
            // 获取表格数据容器
            var tableData = document.getElementById("tableData");
            // 遍历 JSON 数据，将每个对象的属性值填充到表格中
            for (var i = 0; i < jsonData.length; i++) {
                var baike_info = jsonData[i].baike_info ? jsonData[i].baike_info.description : '无信息';
                var row = "<tr>" +
                    "<td>" + i + "</td>" +
                    "<td>" + jsonData[i].name + "</td>" +
                    "<td>" + (jsonData[i].score * 100).toFixed(2) + "%" + "</td>" +  // 置信度转换为百分比
                    "<td>" + baike_info + "</td>" +
                    "</tr>";
                tableData.innerHTML += row;
            }
            // layui表格渲染
            layui.use('table', function () {
                var table = layui.table;
                table.init('table');
            });    
        </script>


        <script>
            function changepic1() {
                var reads = new FileReader();
                f = document.getElementById('file1').files[0];
                reads.readAsDataURL(f);
                reads.onload = function (e) {
                    document.getElementById('show1').src = this.result;

                };

            }
            function changepic2() {
                var reads = new FileReader();
                f = document.getElementById('file2').files[0];
                reads.readAsDataURL(f);
                reads.onload = function (e) {
                    document.getElementById('show2').src = this.result;

                };
            }
            function changepic3() {
                var reads = new FileReader();
                f = document.getElementById('file3').files[0];
                reads.readAsDataURL(f);
                reads.onload = function (e) {
                    document.getElementById('show3').src = this.result;
                };
            }
            function changepic4() {
                var reads = new FileReader();
                f = document.getElementById('file4').files[0];
                reads.readAsDataURL(f);
                reads.onload = function (e) {
                    document.getElementById('show4').src = this.result;
                };
            }


        </script>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
            function fileOrBlobToDataURL(obj, cb) {
                let a = new FileReader();
                a.readAsDataURL(obj);
                a.onload = function (e) {
                    cb(e.target.result);
                };
            }

        </script>
        
        <script type="text/javascript">
            $(function () {
                //获取点击事件的对象
                $("#func dd").click(function () {
                    //获取要显示或隐藏的对象
                    var divShow = $(".layui-body").children('.list');
                    //判断当前对象是否被选中，如果没选中的话进入if循环
                    if ($(this).hasClass('layui-this')) {
                        //获取当前对象的索引
                        var index = $(this).index() + 1;
                        console.log('当前元素索引》》》', index)
                        //当前对象添加选中样式并且其同胞移除选中样式；
                        $(this).addClass('layui-this').siblings('dd').removeClass('layui-this');
                        //索引对应的div块显示
                        $(divShow[index]).show();
                        console.log(divShow[index])
                        //索引对应的div块的同胞隐藏
                        $(divShow[index]).siblings('.list').hide();
                    }
                });
                $("#user dd").click(function () {
                    //获取要显示或隐藏的对象
                    var divShow = $(".layui-body").children('.list');
                    //判断当前对象是否被选中，如果没选中的话进入if循环
                    if ($(this).hasClass('layui-this')) {
                        //获取当前对象的索引
                        var index = $(this).index() + 3;
                        console.log('当前元素索引》》》', index)
                        //当前对象添加选中样式并且其同胞移除选中样式；
                        $(this).addClass('layui-this').siblings('dd').removeClass('layui-this');
                        //索引对应的div块显示
                        $(divShow[index]).show();
                        console.log(divShow[index])
                        //索引对应的div块的同胞隐藏
                        $(divShow[index]).siblings('.list').hide();
                    }
                });
            });
        </script>
        <script src="../static/layui/layui.js"></script>
        <script>
            //JavaScript代码区域
            layui.use('element', function () {
                var element = layui.element;

            });
        </script>

</body>

</html>